<!DOCTYPE html>
<html>
    <head>
        <title>My Father info</title>
    </head>
    <body>
        <h1>Relation : Father</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "{{ url_for('static' , filename = 'father.jpg') }}" alt = "Reference your father's image present in the static folder" width = "200"/>
    </body>
</html>